.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(26, 26, 26);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background-color: #000000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", "Open Sans", monospace;
}

.form-title {
    margin-top: 40;
    margin-bottom: 60px;
    text-align: center;
}

.form-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
}

.form-input-addon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 5px 15x rgba(52, 48, 48, 0.5);
    background-color: #000000;
    color: #000000;
}

.form-input {
    flex: 1;
    height: 40px;
    padding: 0 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family: "Open Sans", "Open Sans", monospace;
}

.fa-lock {
    font-size: 50px;
}

.form {
    width: 350px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    font-family: 'Open Sans', "Open Sans", monospace;
    text-align: center;
}

h2 {
    margin-top: 0;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.input-field input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-family: 'Open Sans', "Open Sans", monospace;
    font-size: 10px;
}

.input-field .icon {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px 0 0 5px;
}

.input-field .icon i {
    color: #040404;
}

.input-field .icon:last-of-type {
    border-radius: 0 5px 5px 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {

    
    background-color: #fff6f618;
    color: #fffefe;
    border: none;
    border-radius: 3px;
    padding: 20px 20x;
    font-size: 20px;
    font-family: 'Open Sans', "Open Sans", monospace;
    margin: 60 30px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(53, 50, 50, 0.5);
    
}

    .form-input {
    border-radius: 25px;
    }

.buttons button:hover {
    background-color: #333;
}
